<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mysports.basketbook">

    <application
        android:name="com.mysports.basketbook.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mysports.basketbook.KakaoSignupActivity"></activity>
        <activity android:name="com.mysports.basketbook.JoinPhoneActivity"></activity>
        <activity android:name="com.mysports.basketbook.JoinIdActivity"></activity>
        <activity android:name="com.mysports.basketbook.JoinPwActivity"></activity>
        <activity android:name="com.mysports.basketbook.JoinAddActivity"></activity>
        <activity android:name="com.mysports.basketbook.Terms"></activity>
        <activity android:name="com.mysports.basketbook.ChangePw1Activity"></activity>
        <activity android:name="com.mysports.basketbook.ChangePw2Activity"></activity>
        <activity android:name="com.mysports.basketbook.Contest_Detail"></activity>
        <activity android:name=".Contest_Detail_Form"></activity>
        <activity
            android:name="com.mysports.basketbook.LoginActivity">
        </activity>
        <activity
            android:name="com.mysports.basketbook.MainActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamManager"></activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamManager_Member"></activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamManager_TeamIntro"></activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamManager_TeamMake1"></activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamManager_TeamMake2"></activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamManager_TeamMake3"></activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamIntro"></activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamIntro_Focus"></activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamIntro_Focus_ImageFocus"></activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamIntro_Focus_Join"></activity>
        <activity android:name="com.mysports.basketbook.TeamInfo"></activity>
        <activity android:name="com.mysports.basketbook.Match_In_Register"></activity>
        <activity android:name="com.mysports.basketbook.Match_In_Register_Modify"></activity>
        <activity android:name="com.mysports.basketbook.Match_In_Focus"></activity>
        <activity android:name="com.mysports.basketbook.CourtInfo_ImageFocus"></activity>
        <activity android:name="com.mysports.basketbook.Navigation_TeamManager_Schedule"></activity>
        <activity android:name="com.mysports.basketbook.Profile_Focus"></activity>
        <activity android:name="com.mysports.basketbook.Match_Out_NewsFeed_Writing"></activity>
        <activity android:name="com.mysports.basketbook.Match_Out_NewsFeed_Comment"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.mysports.basketbook.Match_Out_NewsFeed_Data_Modify"></activity>
        <activity android:name="com.mysports.basketbook.Match_Out_NewsFeed_Camera"></activity>
        <activity android:name="com.mysports.basketbook.Setting"></activity>
        <activity android:name="com.mysports.basketbook.FCMTest">

        </activity>
        <service
            android:name="com.mysports.basketbook.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.mysports.basketbook.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/Kakao_App_Key"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>